.buttons {
    text-align: center;
    margin-top: 30px;
    }
    button {
        background-color: rgb(27, 24, 24);
        color: white;
        border-radius: 7px;
        border: 1px solid rgb(255, 255, 255);

    }
    button:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 7px;
        border: 1px solid black;
    }
    button:active {
        background-color: rgb(215, 195, 247);
    }
.elementos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    gap: 50px;
    margin-top: 50px;
}
#elem1, #elem2, #elem3, #elem4, #elem5, #elem6 {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    text-align: center;
}
img {
    width: 200px;
    height: 200px;
}