
body {
    height: 100vh;
    display: flex;
    background-color: #ebe9e954;
}

table td {
    border: 1px solid black;
    height: 40px;
}
table th{
    border: 1px solid black; width: 100px;
    height: 30px;
    font-size: 1.3rem;
}
table {border: 1px solid black;
    width: 600px;    
}
.contenido {
    border-radius: 10px;
    width: 800px;
    text-align: center;
    margin: auto auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(37, 37, 37, 0.1);

}

.cabezera {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.3rem;
}
p {margin: 0;}
table input {
    width: 90%;
}
button{
    width: fit-content;
    height: fit-content;
    border: 2px solid rgb(0, 0, 0);
    color: #000;
    font-weight: bold;
    padding: 8px;
    margin: 5px;
    background: #FFFFFF;
    border: 2px solid #7e7e7e;
    box-shadow: 0px 0px 15px 5px rgba(37, 37, 37, 0.03);
    border-radius: 12px;
}
    button:hover {
        border: 2px solid rgb(54, 54, 54);
        cursor: pointer;
    }

